<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">
    <meta name="description" content="Register form of the wall assignment">
    <meta name="author" content="Silver Roi Ramos">
    <title>The Wall | Sign Up Page</title>
    <link rel="stylesheet" href="../assets/css/sign_up.css">
</head>
<body>
    <section>
        <div>
            <h3>The Wall</h3>
            <h1>Register</h1>
            <form action="#">
                <label for="email">Email</label>
                <input type="email" id="email">
                <label for="password">Password</label>
                <input type="password" id="password">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password">
                <p>By creating an account, you agree with The Wall's <a href="#">Privacy Policy</a> and <a href="#">Terms and Use</a>.</p>
                <button type="submit">SIGN UP</button>    
            </form>
            <p>Already have an account ? <a href="index.html">Sign In</a></p>
        </div>
    </section>
    <div class="bg_image">
        <img src="../assets/images/bg_man.png" alt="A man with papers">
    </div>
</body>
</html>