<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/images/wall_red.png">
    <meta name="description" content="The wall view of assignment">
    <meta name="author" content="Silver Roi Ramos">
    <title>The Wall | Home Page</title>
    <link rel="stylesheet" href="../assets/css/wall.css">
    <script src="../assets/js/wall.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <h3>The Wall Assignment</h3>
            <h5>Welcome, Silver Roi! <a href="index.html">Logout</a></h5>
        </nav>
    </header>
    <section>
        <div id="wall_container">
            <div id="wall_header">
                <h5><span>0</span> message/s arranged by latest posted</h5>
                <button type="button" id="create_message_button">Create Message</button>
            </div>
            <div id="no_message">
                <img src="../assets/images/no_message.png" alt="no_message_icon">
                <p>No Posted Message Yet.</p>
            </div>
            <ul id="message_inbox">
            </ul>
        </div>
    </section>

    <!-- Modals -->
    <div class="modal hidden" id="create_message_modal">
        <div class="modal_dialog">
            <div class="modal_content">
                <div class="modal_body">
                    <img src="../assets/images/cancel.png" alt="close icon" id="close_message_modal" class="close_modal">
                    <h3>Create a Message</h3>
                    <form action="#">
                        <input type="text" id="create_message_input" class="input" placeholder="Type your message here.">
                        <a href="#" id="cancel_create_message_modal" class="close_modal">Cancel</a>
                        <button type="submit" id="post_message" class="disabled">Post Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal hidden" id="delete_message_modal">
        <div class="modal_dialog">
            <div class="modal_content">
                <div class="modal_body">
                    <img src="../assets/images/cancel.png" alt="close icon" id="cancel_delete_message" class="close_modal">
                    <h3>Confirm Delete Message</h3>
                    <form action="#">
                        <input type="hidden" id="delete_message_id">
                        <p>Are you sure you want to remove this message? This action cannot be undone.</p>
                        <a href="#" id="cancel_delete_message_modal" class="close_modal">Cancel</a>
                        <button type="submit" id="remove_message">Yes, Remove it.</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal hidden" id="delete_comment_modal">
        <div class="modal_dialog">
            <div class="modal_content">
                <div class="modal_body">
                    <img src="../assets/images/cancel.png" alt="close icon" id="cancel_delete_comment" class="close_modal">
                    <h3>Confirm Delete Comment</h3>
                    <form action="#">
                        <input type="hidden" id="comment_message_id">
                        <input type="hidden" id="delete_comment_id">
                        <p>Are you sure you want to remove this comment?</p>
                        <p>This action cannot be undone.</p>
                        <a href="#" id="cancel_delete_comment_modal" class="close_modal">Cancel</a>
                        <button type="submit" id="remove_comment">Yes, Remove it.</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <ul class="hidden" id="hidden_clone">
        <li class="message">
            <p class="message_text">Sample text.</p>
            <ul class="message_control_list">
                <li class="message_element">
                    <img id="comment_icon" src="../assets/images/messages-bubble-square-text.png" alt="message_icon">
                    <p class="message_comment"><span>0</span> Comment</p>
                </li>
                <li class="message_element">
                    <img src="../assets/images/pencil-write.png" alt="edit_icon">
                    <p class="message_edit">Edit</p>
                </li>
                <li class="message_element">
                    <img src="../assets/images/delete.png" alt="delete_icon">
                    <p class="message_delete">Delete</p>
                </li>
                <li class="message_element">
                    <img src="../assets/images/user_placeholder.png" alt="user_icon">
                    <p class="message_profile"><span>You</span> - Few seconds ago</p>
                </li>
            </ul>
            <div class="edit_message_form hidden">
                <form action="#">
                    <input type="text" class="input edit_message_input">
                    <a href="#" class="cancel_edit_message">Cancel</a>
                    <button type="submit" class="message_update">Update Message</button>
                </form> 
            </div>
            <div class="comment_form hidden">
                <form action="#">
                    <input type="text" class="input comment_input" id="create_comment_input" placeholder="Type your comment here.">
                    <button type="submit" class="post_comment disabled" id="post_comment">Post Comment</button>
                </form> 
            </div>
            <ul id="comment_inbox">
                
            </ul>
        </li>
        <li class="comment">
            <input type="hidden" class="comment_message_id">
            <p class="comment_text">Sample text.</p>
            <ul class="comment_control_list">
                <li class="comment_element">
                    <img src="../assets/images/pencil-write.png" alt="edit_icon">
                    <p class="comment_edit">Edit</p>
                </li>
                <li class="comment_element">
                    <img src="../assets/images/delete.png" alt="delete_icon">
                    <p class="comment_delete">Delete</p>
                </li>
                <li class="comment_element">
                    <img src="../assets/images/user_placeholder.png" alt="user_icon">
                    <p class="comment_profile"><span>You</span> - Few seconds ago</p>
                </li>
            </ul>
            <div class="edit_comment_form hidden">
                <form action="#">
                    <input type="text" class="input edit_comment_input">
                    <div>
                        <a href="#" class="cancel_edit_comment">Cancel</a>
                        <button type="submit" class="update_comment">Update Comment</button>
                    </div>
                </form> 
            </div>
        </li>
    </ul>
</body>
</html>