@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}
* {
  font-family: Poppins;
}
.hidden {
  display: none !important;
}
.input_error {
  background: rgba(225, 85, 70, 0.08) !important;
}
.font_color_blue {
  color: #2c6bff !important;
}
