@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.otf");
}
@font-face {
  font-family: Poppins-Light;
  src: url("../fonts/Poppins-Light.otf");
}
@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/Poppins-Medium.otf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("../fonts/Poppins-SemiBold.otf");
}
* {
  font-family: Poppins;
}
.hidden {
  display: none !important;
}
.input_error {
  background: rgba(225, 85, 70, 0.08) !important;
}
.font_color_blue {
  color: #2c6bff !important;
}
.disabled {
  background: rgba(44, 107, 255, 0.5) !important;
  pointer-events: none;
}
