@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.otf");
}
@font-face {
  font-family: Poppins-Light;
  src: url("../fonts/Poppins-Light.otf");
}
@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/Poppins-Medium.otf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("../fonts/Poppins-SemiBold.otf");
}
* {
  font-family: Poppins;
}
.hidden {
  display: none !important;
}
.input_error {
  background: rgba(225, 85, 70, 0.08) !important;
}
.font_color_blue {
  color: #2c6bff !important;
}
.disabled {
  background: rgba(44, 107, 255, 0.5) !important;
  pointer-events: none;
}
body {
  margin: 0px auto;
}
body main {
  display: flex;
}
body main section {
  background-color: #fbfbfb;
  flex: 0.78;
  padding: 117px 204px 117px 203px;
  z-index: 0;
}
body main section div {
  background: #ffffff;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 0px auto;
  padding: 31px 40px 35px 40px;
  width: 450px;
}
body main section div h3 {
  color: #2c6bff;
  font: 600 22px/33px Poppins-SemiBold;
  margin: 0px 0px 39px 0px;
}
@media only screen and (max-width: 480px) {
  body main section div h3 {
    font: 600 16px/24px Poppins-SemiBold;
    margin: 0px 0px 10px 0px;
  }
}
body main section div h1 {
  color: #152c61;
  font: 600 40px/60px Poppins-SemiBold;
  margin: 0px 0px 18px 0px;
}
@media only screen and (max-width: 480px) {
  body main section div h1 {
    font: 600 22px/33px Poppins-SemiBold;
    margin: 0px 0px 10px 0px;
  }
}
body main section div form label {
  color: #152c61;
  display: block;
  font: 300 16px/24px Poppins-Light;
  margin: 28px 0px 7px 0px;
}
@media only screen and (max-width: 480px) {
  body main section div form label {
    font: 300 14px/21px Poppins-Light;
  }
}
body main section div form label[for="email"] {
  display: inline-block;
  margin-top: 0px;
}
body main section div form input {
  background: rgba(44, 107, 255, 0.08);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #152c61;
  font: 400 14px/21px Poppins;
  margin-top: 7px;
  padding: 17px 10px;
  width: 370px;
}
@media only screen and (max-width: 480px) {
  body main section div form input {
    font: 400 14px/21px Poppins;
    margin: 0px;
    padding: 12px 5px;
    width: 290px;
  }
}
body main section div form p {
  color: #152c61;
  display: inline-block;
  font: 300 16px/24px Poppins-Light;
  margin: 33px 0px 0px 0px;
  text-align: center;
}
body main section div form p a {
  color: #2c6bff;
  text-decoration: none;
}
@media only screen and (max-width: 480px) {
  body main section div form p {
    font: 300 14px/21px Poppins-Light;
    margin: 23px 0px 0px 0px;
  }
}
body main section div form .error {
  color: #e1554c;
  display: block;
  font: 300 14px/31px Poppins-Light;
  margin: 0px;
  text-align: left;
}
@media only screen and (max-width: 480px) {
  body main section div form .error {
    font: 300 12px/21px Poppins-Light;
  }
}
body main section div form button {
  background: #2c6bff;
  border-radius: 4px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font: 600 16px/24px Poppins-SemiBold;
  margin: 34px auto 35px auto;
  padding: 15px 46px 15px 45px;
}
@media only screen and (max-width: 480px) {
  body main section div form button {
    font: 600 14px/21px Poppins-SemiBold;
    margin: 20px auto 17px auto;
    padding: 7px 23px 7px 22px;
  }
}
body main section div p {
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
}
body main section div p a {
  color: #2c6bff;
  text-decoration: none;
}
@media only screen and (max-width: 480px) {
  body main section div p {
    font: 400 14px/21px Poppins;
  }
}
@media only screen and (max-width: 480px) {
  body main section div {
    padding: 21px 30px 25px 30px;
    width: 350px;
  }
}
@media only screen and (max-width: 480px) {
  body main section {
    align-items: center;
    background-color: rgba(44, 107, 255, 0.51);
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 0px;
  }
}
body main .bg_image {
  background-color: rgba(44, 107, 255, 0.51);
  flex: 1;
}
body main .bg_image img {
  margin: 335.2px 0px 0px -67px;
  position: absolute;
  z-index: 1;
}
@media only screen and (max-width: 480px) {
  body main .bg_image img {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  body main {
    display: block !important;
  }
}
