@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.otf");
}
@font-face {
  font-family: Poppins-Light;
  src: url("../fonts/Poppins-Light.otf");
}
@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/Poppins-Medium.otf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("../fonts/Poppins-SemiBold.otf");
}
* {
  font-family: Poppins;
}
.hidden {
  display: none !important;
}
.input_error {
  background: rgba(225, 85, 70, 0.08) !important;
}
.font_color_blue {
  color: #2c6bff !important;
}
.disabled {
  background: rgba(44, 107, 255, 0.5) !important;
  pointer-events: none;
}
body {
  background-color: rgba(44, 107, 255, 0.51);
  display: flex;
  justify-content: flex-start;
  margin: 0px auto;
  max-width: 1440px;
}
body section {
  background-color: #fbfbfb;
  box-sizing: border-box;
  height: 100vh;
  padding: 117px 204px 117px 203px;
  width: 857px;
  z-index: 0;
}
body section div {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 31px 40px 35px 40px;
}
body section div h3 {
  color: #2c6bff;
  font: 600 22px/33px Poppins-SemiBold;
  margin: 0px 0px 39px 0px;
}
body section div h1 {
  color: #152c61;
  font: 600 40px/60px Poppins-SemiBold;
  margin: 0px 0px 18px 0px;
}
body section div form label {
  color: #152c61;
  display: block;
  font: 300 16px/24px Poppins-Light;
  margin: 28px 0px 7px 0px;
}
body section div form label[for="email"] {
  display: inline-block;
  margin-top: 0px;
}
body section div form input {
  background: rgba(44, 107, 255, 0.08);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #152c61;
  font: 400 14px/21px Poppins;
  margin-top: 7px;
  padding: 17px 10px;
  width: 370px;
}
body section div form p {
  color: #152c61;
  display: inline-block;
  font: 300 16px/24px Poppins-Light;
  margin: 33px 0px 0px 0px;
  text-align: center;
}
body section div form p a {
  color: #2c6bff;
  text-decoration: none;
}
body section div form .error {
  color: #e1554c;
  display: block;
  font: 300 14px/31px Poppins-Light;
  margin: 0px;
  text-align: left;
}
body section div form button {
  background: #2c6bff;
  border-radius: 4px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font: 600 16px/24px Poppins-SemiBold;
  margin: 34px auto 35px auto;
  padding: 15px 46px 15px 45px;
}
body section div p {
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
}
body section div p a {
  color: #2c6bff;
  text-decoration: none;
}
body .bg_image img {
  position: absolute;
  margin: 335.2px 0px 0px -67px;
  z-index: 1;
}
