@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.otf");
}
@font-face {
  font-family: Poppins-Light;
  src: url("../fonts/Poppins-Light.otf");
}
@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/Poppins-Medium.otf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("../fonts/Poppins-SemiBold.otf");
}
* {
  font-family: Poppins;
}
.hidden {
  display: none !important;
}
.input_error {
  background: rgba(225, 85, 70, 0.08) !important;
}
.font_color_blue {
  color: #2c6bff !important;
}
.disabled {
  background: rgba(44, 107, 255, 0.5) !important;
  pointer-events: none;
}
body {
  background-color: #fbfbfb;
  margin: 0px;
}
body header {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}
body header nav {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 1440px;
  padding: 39px 84px 39px 78px;
}
body header nav h3 {
  color: #152c61;
  font: 500 26px/39px Poppins-Medium;
  margin: 0px;
}
body header nav h5 {
  color: #152c61;
  font: 300 16px/24px Poppins-Light;
  margin: 0px;
}
body header nav h5 a {
  color: #2c6bff;
  font: 600 16px/24px Poppins;
  margin-left: 16px;
  text-decoration: none;
}
body section {
  margin: 50px 80px 50px 79px;
}
body section #wall_container {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  height: 100vh;
  margin: 0px auto;
  max-width: 1440px;
  overflow: hidden;
  padding: 72px 71px 71px 68px;
}
body section #wall_container #wall_header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}
body section #wall_container #wall_header h5 {
  color: #707070;
  font: 400 16px/24px Poppins;
  margin: 0px;
}
body section #wall_container #wall_header h5 span {
  color: #2c6bff;
  font: 600 16px/24px Poppins;
}
body section #wall_container #wall_header button {
  background: #2c6bff;
  border-radius: 4px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font: 500 16px/24px Poppins-Medium;
  height: 38px;
  width: 190px;
}
body section #wall_container #no_message {
  margin-top: 126px;
  text-align: center;
}
body section #wall_container #no_message p {
  color: #707070;
  font: 400 16px/24px Poppins;
  margin: 20px 0px 0px 0px;
}
body section #wall_container #message_inbox {
  padding: 0px;
}
body section #wall_container #message_inbox .message {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  box-sizing: border-box;
  list-style: none;
  margin: 0px 0px 20px 0px;
  padding: 24px 30px 28px 26.32px;
}
body section #wall_container #message_inbox .message .message_text {
  color: #152c61;
  font: 300 16px/24px Poppins-Light;
  margin: 0px 0px 20px 0px;
}
body section #wall_container #message_inbox .message .message_control_list {
  align-items: center;
  display: flex;
  margin: 0px;
  padding: 0px;
}
body section #wall_container #message_inbox .message .message_control_list .message_element {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0px 0px 0px 0px;
}
body section #wall_container #message_inbox .message .message_control_list .message_element img {
  margin: 0px;
}
body section #wall_container #message_inbox .message .message_control_list .message_element .message_comment {
  color: #707070;
  cursor: pointer;
  margin: 0px 24.68px 0px 5px;
}
body section #wall_container #message_inbox .message .message_control_list .message_element .message_edit {
  color: #2c6bff;
  cursor: pointer;
  margin: 0px 28px 0px 4px;
}
body section #wall_container #message_inbox .message .message_control_list .message_element .message_delete {
  color: #000000;
  cursor: pointer;
  margin: 0px 27.32px 0px 5px;
  opacity: 0.6;
}
body section #wall_container #message_inbox .message .message_control_list .message_element .message_profile {
  color: #000000;
  cursor: pointer;
  margin: 0px 0px 0px 8px;
  opacity: 0.6;
}
body section #wall_container #message_inbox .message .message_control_list .message_element .message_profile span {
  font: 500 16px/24px Poppins-Medium;
}
body section #wall_container #message_inbox .message .message_control_list .message_element p {
  margin: 0px;
}
body section #wall_container #message_inbox .message .edit_message_form form {
  display: block;
  text-align: right;
}
body section #wall_container #message_inbox .message .edit_message_form form input {
  background-color: #f5f8ff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  box-sizing: border-box;
  display: flex;
  font: 300 16px/24px Poppins-Light;
  margin: 0px 0px 20px 0px;
  padding: 16px 9px 26px 10px;
  width: 100%;
}
body section #wall_container #message_inbox .message .edit_message_form form a {
  color: rgba(0, 0, 0, 0.6);
  font: 400 16px/24px Poppins;
  margin-right: 30px;
  text-decoration: none;
}
body section #wall_container #message_inbox .message .edit_message_form form button {
  background: #2c6bff;
  border-radius: 4px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font: 500 16px/24px Poppins-Medium;
  height: 38px;
  margin: 0px;
  text-align: center;
  width: 190px;
}
body section #wall_container #message_inbox .message .comment_form {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  margin-top: 26px;
  padding: 30px 31px 20px 24px;
}
body section #wall_container #message_inbox .message .comment_form form {
  display: block;
  text-align: right;
}
body section #wall_container #message_inbox .message .comment_form form input {
  background-color: #f5f8ff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  box-sizing: border-box;
  display: flex;
  font: 300 16px/24px Poppins-Light;
  margin-bottom: 20px;
  padding: 16px 9px 26px 10px;
  width: 100%;
}
body section #wall_container #message_inbox .message .comment_form form button {
  background: #2c6bff;
  border-radius: 4px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font: 500 16px/24px Poppins-Medium;
  height: 38px;
  margin: 0px;
  text-align: center;
  width: 190px;
}
body section #wall_container #message_inbox .message #comment_inbox {
  padding: 0px;
}
body section #wall_container #message_inbox .message #comment_inbox .comment {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  box-sizing: border-box;
  list-style: none;
  margin-top: 20px;
  padding: 24px 30px 25px 25px;
}
body section #wall_container #message_inbox .message #comment_inbox .comment .comment_text {
  color: #152c61;
  font: 300 16px/24px Poppins-Light;
  margin: 0px 0px 20px 0px;
}
body section #wall_container #message_inbox .message #comment_inbox .comment .comment_control_list {
  align-items: center;
  display: flex;
  margin: 0px;
  padding: 0px;
}
body section #wall_container #message_inbox .message #comment_inbox .comment .comment_control_list .comment_element {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0px;
}
body section #wall_container #message_inbox .message #comment_inbox .comment .comment_control_list .comment_element img {
  margin: 0px;
}
body section #wall_container #message_inbox .message #comment_inbox .comment .comment_control_list .comment_element .comment_edit {
  color: #2c6bff;
  cursor: pointer;
  margin: 0px 28px 0px 5px;
}
body section #wall_container #message_inbox .message #comment_inbox .comment .comment_control_list .comment_element .comment_delete {
  color: #000000;
  cursor: pointer;
  margin: 0px 28px 0px 5px;
  opacity: 0.6;
}
body section #wall_container #message_inbox .message #comment_inbox .comment .comment_control_list .comment_element .comment_profile {
  color: #000000;
  cursor: pointer;
  margin: 0px 0px 0px 8px;
  opacity: 0.6;
}
body section #wall_container #message_inbox .message #comment_inbox .comment .comment_control_list .comment_element .comment_profile span {
  font: 500 16px/24px Poppins-Medium;
}
body section #wall_container #message_inbox .message #comment_inbox .comment .comment_control_list .comment_element p {
  margin: 0px;
}
body section #wall_container #message_inbox .message #comment_inbox .comment .edit_comment_form form {
  display: block;
  text-align: right;
}
body section #wall_container #message_inbox .message #comment_inbox .comment .edit_comment_form form input {
  background-color: #f5f8ff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  box-sizing: border-box;
  display: flex;
  font: 300 16px/24px Poppins-Light;
  margin: 0px 0px 20px 0px;
  padding: 16px 9px 26px 10px;
  width: 100%;
}
body section #wall_container #message_inbox .message #comment_inbox .comment .edit_comment_form form div a {
  color: rgba(0, 0, 0, 0.6);
  font: 400 16px/24px Poppins;
  margin-right: 29px;
  text-decoration: none;
}
body section #wall_container #message_inbox .message #comment_inbox .comment .edit_comment_form form button {
  background: #2c6bff;
  border-radius: 4px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font: 500 16px/24px Poppins-Medium;
  height: 38px;
  margin: 0px;
  width: 190px;
}
body section #wall_container #message_inbox .message:first-child {
  margin-top: 30px !important;
}
body #create_message_modal {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0px;
  width: 100%;
}
body #create_message_modal .modal_dialog .modal_content .modal_body {
  background-color: #ffffff;
  border-radius: 6px;
  box-sizing: border-box;
  height: 423px;
  margin-top: 50px;
  padding: 40px 46px 50px 56px;
  position: relative;
  text-align: right;
  width: 937px;
}
body #create_message_modal .modal_dialog .modal_content .modal_body img {
  cursor: pointer;
  position: absolute;
  right: 11.47px;
  top: 12px;
}
body #create_message_modal .modal_dialog .modal_content .modal_body h3 {
  color: #152c61;
  font: 500 26px/39px Poppins-Medium;
  margin: 0px 0px 40px 0px;
  text-align: center;
}
body #create_message_modal .modal_dialog .modal_content .modal_body input {
  background-color: #f5f8ff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  box-sizing: border-box;
  display: flex;
  font: 300 16px/24px Poppins-Light;
  height: 185px;
  margin: 0px 0px 31px 0px;
  padding: 8px 7.37px 128px 13.93px;
  width: 835px;
}
body #create_message_modal .modal_dialog .modal_content .modal_body a {
  color: rgba(0, 0, 0, 0.6);
  font: 400 16px/24px Poppins;
  margin-right: 29px;
  text-decoration: none;
}
body #create_message_modal .modal_dialog .modal_content .modal_body button {
  background: #2c6bff;
  border-radius: 4px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font: 500 16px/24px Poppins-Medium;
  height: 38px;
  margin: 0px;
  width: 190px;
}
body #delete_message_modal,
body #delete_comment_modal {
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0px;
  width: 100%;
}
body #delete_message_modal .modal_dialog .modal_content,
body #delete_comment_modal .modal_dialog .modal_content {
  height: 307px;
  width: 540px;
}
body #delete_message_modal .modal_dialog .modal_content .modal_body,
body #delete_comment_modal .modal_dialog .modal_content .modal_body {
  background-color: #ffffff;
  border-radius: 6px;
  margin: 50px auto 0px auto;
  padding: 46px 75px 60px 77px;
  position: relative;
  text-align: right;
}
body #delete_message_modal .modal_dialog .modal_content .modal_body img,
body #delete_comment_modal .modal_dialog .modal_content .modal_body img {
  cursor: pointer;
  position: absolute;
  right: 11.47px;
  top: 12px;
}
body #delete_message_modal .modal_dialog .modal_content .modal_body h3,
body #delete_comment_modal .modal_dialog .modal_content .modal_body h3 {
  color: #152c61;
  font: 500 26px/39px Poppins-Medium;
  margin: 0px 0px 40px 0px;
  text-align: center;
}
body #delete_message_modal .modal_dialog .modal_content .modal_body p,
body #delete_comment_modal .modal_dialog .modal_content .modal_body p {
  color: #152c61;
  font: 400 16px/24px Poppins;
  margin: 0px;
  text-align: center;
}
body #delete_message_modal .modal_dialog .modal_content .modal_body a,
body #delete_comment_modal .modal_dialog .modal_content .modal_body a {
  color: rgba(0, 0, 0, 0.6);
  font: 400 16px/24px Poppins;
  margin: 0px;
  text-decoration: none;
}
body #delete_message_modal .modal_dialog .modal_content .modal_body button,
body #delete_comment_modal .modal_dialog .modal_content .modal_body button {
  background: #2c6bff;
  border-radius: 6px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font: 500 16px/24px Poppins-Medium;
  height: 46px;
  margin: 34px 0px 0px 75px;
  width: 210px;
}
