@import url("./global.less");

body{
    margin: 0px;
    display: flex;
    justify-content: flex-start;

    section{
        background-color: #fbfbfb;
        padding: 117px 204px 117px 203px;

        div{
            background: @color_white;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
            border-radius: 6px;
            padding: 31px 40px 35px 40px;
            
            h3{
                color: @color_blue;
                font: 600 22px/33px Poppins;
            }

            h1{
                color: @color_dark_blue;
                font: 600 40px/60px Poppins;
            }

            form{
                
                label{
                    color: @color_dark_blue;
                    font: 300 16px/24px Poppins;
                }

                input{
                    background: rgba(44, 107, 255, 0.08);
                    border-radius: 4px;
                    border-style: none;
                    height: 55px;
                    width: 370px;
                    margin-bottom: 28px;
                }

                button{
                    background: @color_blue;
                    border-radius: 4px;
                    color: @color_white;
                    border-style: none;
                    font: 600 16px/24px Poppins;
                    padding: 15px 46px 15px 45px;
                    margin: 40px auto 35px auto;
                    display: flex;
                }

                p{
                    color: @color_dark_blue;
                    font: 400 16px/24px Poppins;
                    text-align: center;
    
                    a{
                        color: @color_blue;
                        text-decoration: none;
                    }
                }
            }

            p{
                color: rgba(0, 0, 0, 0.2);
                font: 400 16px/22px Poppins;
                text-align: center;

                a{
                    color: @color_blue;
                    text-decoration: none;
                }
            }
        }
    }

    div{
        background-color: rgba(44, 107, 255, 0.51);
    }
}